<h4 class="text-center">Product List</h4>

<div>
  <button class="btn btn-success" (click)="fetchProducts()">Fetch Products</button>
</div>

@if(!isLoading){
  <div class="container">
    <div class="row mt-2">
      @for (product of productArr ; track $index) {
      <div class="col-sm-3">
        <div class="card">
          <img src="{{product.image}}" class="card-img-top" alt="..." height="200">
          <div class="card-body text-center" appZoomout>
            <h5 class="card-title">{{product.id}}</h5>
            <p class="card-text">{{product.category}}</p>
            <p class="card-text text-truncate">{{product.title}}</p>
            <p class="card-text">{{product.price}}</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
}
@else {
  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="">
}
