<h3 class="text-center">Employee CRUD using HTTP</h3>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <table class="table table-bordered table-striped">
        <tbody>
          @for (emp of employeeArr; track $index) {
          <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.sal}}</td>
            <td>{{emp.getFullName()}}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteEmp(emp.id)">Delete</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <form class="border border-2 p-3 rounded-2" (submit)="addEmp()">
        <p>
          id : <input type="number" name="id" [(ngModel)]="newEmpToAdd.id">
        </p>
        <p>
          FirstName : <input type="text" name="firstName" [(ngModel)]="newEmpToAdd.firstName">
        </p>
        <p>
          lastName : <input type="text" name="lastName" [(ngModel)]="newEmpToAdd.lastName">
        </p>
        <p>
          Email : <input type="text" name="email" [(ngModel)]="newEmpToAdd.email">
        </p>
        <p>
          gender : <input type="text" name="gender" [(ngModel)]="newEmpToAdd.gender">
        </p>
        <p>
          Salary : <input type="number" name="sal" [(ngModel)]="newEmpToAdd.sal">
        </p>

        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
