<style>
  img {
    border-radius: 20px;
  }
</style>

<h3 class="text-center">Let's Learn DataBinding</h3>

<div class="border border-3 rounded-3 p-2 m-2">
  <div style="color:red">My Name is: {{myName}}</div>
  <div style="color:red">My Name is: <span [innerText]="myName"></span></div>
  <div>My Name is: <span bind-innerText="myName"></span></div>

  <img src="{{img_url}}" width="300" height="300" class="mx-1" />
  <img [src]="img_url" width="300" height="300" class="mx-1" />
  <img bind-src="img_url" width="300" height="300" class="mx-1 my-2" />

  <div>
    <input placeholder="Enter something..." value="mobile" />
    1 way: <input value={{myName}} class="mx-2" />
    1 way: <input [value]=myName class="mx-2" />
    1 way:<input bind-value=myName class="mx-2" />
    2 way:<input [(ngModel)]="myName" class="mx-2" />
  </div>

  <div>Interpolation VS property Binding</div>
  <button class="btn btn-primary" (click)="addToCart()">Add To Cart</button>
  <button class="btn btn-primary mx-2" on-click="addToCart()">Add To Cart</button>
  <!-- <button class="btn btn-primary mx-2" disabled>Add To Cart</button> -->
  <button class="btn btn-primary mx-2" disabled={{flag}}>Add To Cart</button>
  <button class="btn btn-primary mx-2" [disabled]=flag>Add To Cart</button>
  <button class="btn btn-primary mx-2" bind-disabled=flag>Add To Cart</button>
</div>


<div class="border border-3 rounded-3 p-2 m-2">
  <div>1. Have a paragraph & a toggle button, on click of the button control the visibility(Show/Hide) of the paragraph
  </div>
  <h1 [hidden]='flag'>Helloooooooooooooooooooooooo</h1>
  <button class="btn btn-primary" (click)='flag = !flag'>{{ flag ? 'SHOW':'HIDE'}}</button>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>2. Create a text-area with maxLength=100, as the user keeps typing display updated Remaining characters.</div>
  <textarea maxlength="100" [(ngModel)]='msg'></textarea>
  <div>{{msg}}</div>
  <div>Remaining Chars: {{100 - msg.length}}</div>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>3. Create dropdown with state names, when user changes dropdown value, print the selected dropdown value in a
    div.</div>
  <select [(ngModel)]='selectedState'>
    <option></option>
    <option>Odisha</option>
    <option>Bihar</option>
    <option>Andhrapradesh</option>
    <option>Karnataka</option>
    <option>Tamilnadu</option>
    <option>kerla</option>
  </select>
  <div>Selected state is: {{selectedState}}</div>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>4. have 2 inputBoxes, and a dropdown(+,-,*,/) and perform arithmetic operations</div>
  <input type='number' [(ngModel)]='num1' />
  <input type='number' [(ngModel)]='num2' />
  <select [(ngModel)]='op'>
    <option>+</option>
    <option>-</option>
    <option>*</option>
    <option>/</option>
  </select>
  <div>Result:: {{calculatedResult}}</div>
  <button (click)=calculate()>Calculate</button>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>5. create a input box, toggle the type of that input box to (text/password)</div>
  <input type="{{flag ? 'text' : 'password' }}" />
  <button class="btn btn-primary mx-2" (click)="flag=!flag">Toggle</button>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>6. create a counter example with 3 controls(increment,decrement,reset)</div>
  <h3>Count:: {{count}}</h3>
  <button class="btn btn-secondary" (click)="count = count-1">Decrement</button>
  <button class="btn btn-danger mx-2" (click)="count = 0">Reset</button>
  <button class="btn btn-primary" (click)="count = count+1">Increment</button>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>Have a toggle button and control Dark/Light theme of a page.</div>
  <button class="btn btn-primary" (click)='toggleTheme()'>{{ flag ? 'Light Theme':'Dark Theme'}}</button>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>Addition using 2 way binding</div>
  <input type="number" [(ngModel)]="num1" />
  <input type="number" [(ngModel)]="num2" />
  <p>Addition is:: {{num1+num2}}</p>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>Addition using template reference variable</div>
  <input type="number" #num3 />
  <input type="number" ref-num4 />
  <button class="btn btn-primary" (click)="addition(num3.value,num4.value)">Add</button>
  <p>Addition is {{addResult}}</p>
</div>
