<h3 class="text-center">Employee List</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Designation</th>
      <th>Department</th>
      <th>Salary</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (emp of employees; track $index) {
    <tr>
      <td>{{emp.id}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.designation}}</td>
      <td>{{emp.department}}</td>
      <td>{{emp.salary}}</td>
      <td>{{emp.email}}</td>
      <td>
        <fa-icon [icon]='faTrash' />
        <fa-icon [icon]='faEye' class='mx-2' />
        <fa-icon [icon]='faEdit' />
      </td>
    </tr>
    }
  </tbody>
</table>
