<h3 class="text-center">User List</h3>

<div class="container">
  <div class="row">
    @for(user of usersArr | paginate: { itemsPerPage: 4, currentPage: p};track $index){
    <div class="col-sm-3">
      <div class="card">
        <img src="https://cdn-icons-png.flaticon.com/512/5556/5556468.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">{{user.email}}</p>
          <p class="card-text">{{user.phone}}</p>
          <p class="card-text">{{user.address.city}}</p>
          <p class="card-text">{{user.website}}</p>
          <button class="btn btn-primary" [routerLink]="['/userdetails', user.id]">Details</button>
        </div>
      </div>
    </div>
    }
  </div>
  <div class='col-sm-4 offset-4 mt-2'>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
