<h3 class="text-center">Let's Learn Directives</h3>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>*ngIf Before angular 17</div>
  <input type="number" [(ngModel)]="num" />

  <div *ngIf="num%2 === 0">{{num}} is Even Number</div>
  <div *ngIf="num%2 !== 0">{{num}} is Odd Number</div>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div> If After angular 17</div>
  <input type="number" [(ngModel)]="num" />

  @if(num%2 === 0){
    <div>{{num}} is Even Number</div>
  }@else {
    <div>{{num}} is Odd Number</div>
  }
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <input type="number" [(ngModel)]="num" />

  @switch (num) {
    @case (1) { <h1>Monday</h1> }
    @case (2) { <h1>Tuesday</h1> }
    @case (3) { <h1>Wednesday</h1> }
    @case (4) { <h1>Thursday</h1> }
    @case (5) { <h1>Friday</h1> }
    @case (6) { <h1>Saturday</h1> }
    @case (7) { <h1>Sunday</h1> }
    @default { <h1>Not a Valid number</h1> }
  }
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>States List:</div>
  <ol>
    @for(state of statesArr;track $index){
      <li>{{state}}</li>
    }
  </ol>
</div>

<div class="border border-3 rounded-3 p-2 m-2">
  <div>States Dropdown:</div>
  <select>
    @for(state of statesArr;track $index){
      <option>{{state}}</option>
    }
  </select>
</div>
